.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #029139;
    border: 1px solid #029139;
    color: white;
    padding: 0.25rem 0.6rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #027e32;
    border-color: #029139;
  }